/* ================================ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", 'Times New Roman', Times, serif;
    background-color: #f7f7f7;
    color: #333;
}
/* 1. Selectors & Basic Properties - Hero Section */
.hero{
    padding:100px;
}

.hero__title{
    color: black;
}

.hero__description{
    color: #81da76;
}

#hero__highlight{
    color: #dbfbe0;
}
/* ================================ */

/* ================================ */
/* 2. Fonts - Features Section */
/* ================================ */
.feature{
    padding: 100px;
}

.feature__item{
    padding: 30px 0;
}

.feature__title{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #23c93c;
    margin-bottom: 10px;
}

.feature__title--selected {
    text-decoration: underline;
}

/* .feature__description{
    text-align: center;
    letter-spacing: 0.5rem;
    line-height: 2.4rem;
    white-space: nowrap; "wrap,pre, pre-wrap"
    word-spacing: 3rem;
} */

/* ================================ */
/* 3. Colors - Call to Action Section */
/* ================================ */
.cta__container{
    padding: 100px;
    background-color: #38b457;
    color: #f7f7f7;
    text-align: center;
}

.cta__title{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: 0.5rem;
}

.cta__description{
    color: #dbdbdb;
    padding: 1rem;
}

button {
    border: none;
    color: none;
}

.cta__button {
    padding: 10px 20px;
}

/* ================================ */
/* 5. Box Model - Programs Section */
/* ================================ */
.video__section{
    text-align: center;
    padding: 100px;
    font-weight: 500;
}

.video__title{
    font-size: 32px;
    font-weight: 500;
}

.video__description{
    margin-top: 10px;
    font-weight: 300;
    color: #6e6e6e6e;
}

.video__controllers{
    margin-top: 20px;
}

.video__button{
    border: 1px solid #5bb471;
    background-color: none;
    padding: 10px 20px;
}

.video__button--primary{
    margin-left: 10px;
}

.video__container{
    margin-top: 20px;
    background-color: #ccc;
    width: 100%;
    height: 500px;
    box-shadow: 1px 2px 8px 4px rgba(0,0,0,0.3);
}
/* Box Shadow: Horizonatal length, Vertical Length, blur radius,spread radius, shadow color, background color, box color, opacity*/
/* box-shadow: 12px 12px 4px 9px rgba(0,0,0,0.75); */


/* ================================ */
/* 5. Flex - Programs Section */
/* ================================ */

/* ================================ */
/* 6. HTML Elements & Images - Form Section */
/* ================================ */

/* ================================ */
/* 8. Images and Final Styling */
/* ================================ */

/* ================================ */
/* 9. Navbar and Footer Section */
/* ================================ */
